﻿@page
@model house_sit_me_website.Pages.SitterCRUD.CreateModel

@{
    ViewData["Title"] = "Create a Sitter Account";
}

<body style="background-color:#222222;">
    <h2><font color="#83b84d">Create a Sitter Account</font></h2>

    <h4><font color="white">House Sitter Registration</font></h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <font color="#84b83d"><b>First Name</b></font>
                    <input asp-for="SitterAccount.FirstName" class="form-control" />
                    <span asp-validation-for="SitterAccount.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <font color="#84b83d"><b>Last Name</b></font>
                    <input asp-for="SitterAccount.LastName" class="form-control" />
                    <span asp-validation-for="SitterAccount.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <font color="#84b83d"><b>Date of Birth</b></font>
                    <input asp-for="SitterAccount.BirthDate" class="form-control" />
                    <span asp-validation-for="SitterAccount.BirthDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <font color="#84b83d"><b>Email Address</b></font>
                    <input asp-for="SitterAccount.Email" class="form-control" />
                    <span asp-validation-for="SitterAccount.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <font color="#84b83d"><b>Confirm Email Address</b></font>
                    <input asp-for="SitterAccount.EmailConfirmed" class="form-control" />
                    <span asp-validation-for="SitterAccount.EmailConfirmed" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <font color="#84b83d"><b>Phone Number</b></font>
                    <input asp-for="SitterAccount.PhoneNumber" class="form-control" />
                    <span asp-validation-for="SitterAccount.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <font color="#84b83d"><b>Password (Includes at least 6 characters, a capital letter, a symbol, and a number)</b></font>
                    <input asp-for="SitterAccount.Password" type="password" class="form-control" />
                    <span asp-validation-for="SitterAccount.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <font color="#84b83d"><b>Confirm Password</b></font>
                    <input asp-for="SitterAccount.PasswordConfirmed" type="password" class="form-control" />
                    <span asp-validation-for="SitterAccount.PasswordConfirmed" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="SitterAccount.CriminalBackgroundAgreement" class="control-label"></label>
            <input asp-for="SitterAccount.CriminalBackgroundAgreement" class="form-control" />
            <span asp-validation-for="SitterAccount.CriminalBackgroundAgreement" class="text-danger"></span>*@
                    <b><font color="#84b83d">Do you consent for the company to perform a criminal background check on you?</font></b>
                    <label class="control-label"></label>
                    <select class="form-control" asp-for="CriminalBackgroundAgreement">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                    <span asp-validation-for="SitterAccount.CriminalBackgroundAgreement" class="text-danger"></span>
                </div>
                <p><b><font color="#84b83d">By creating an account you agree to our <a asp-page="/Privacy">Terms & Privacy</a>.</font></b></p>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
