﻿@page
@model house_sit_me_website.Pages.SitterCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SitterAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SitterAccount.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SitterAccount.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SitterAccount.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SitterAccount.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SitterAccount.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SitterAccount.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SitterAccount.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SitterAccount.PhoneNumber)
        </dd>
        <!--
        <dt>
            Html.DisplayNameFor(model => model.SitterAccount.Password)
        </dt>
        <dd>
            Html.DisplayFor(model => model.SitterAccount.Password)
        </dd>
            -->
        <dt>
            @Html.DisplayNameFor(model => model.SitterAccount.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SitterAccount.BirthDate)
        </dd>
        <!--
        <dt>
            Html.DisplayNameFor(model => model.SitterAccount.PasswordConfirmed)
        </dt>
        <dd>
            Html.DisplayFor(model => model.SitterAccount.PasswordConfirmed)
        </dd>
            -->
        <dt>
            @Html.DisplayNameFor(model => model.SitterAccount.EmailConfirmed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SitterAccount.EmailConfirmed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SitterAccount.CriminalBackgroundAgreement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SitterAccount.CriminalBackgroundAgreement)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SitterAccount.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
