﻿@page
@model house_sit_me_website.Pages.SitterCRUD.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>SitterAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SitterAccount.ID" />
            <div class="form-group">
                <label asp-for="SitterAccount.FirstName" class="control-label"></label>
                <input asp-for="SitterAccount.FirstName" class="form-control" />
                <span asp-validation-for="SitterAccount.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SitterAccount.LastName" class="control-label"></label>
                <input asp-for="SitterAccount.LastName" class="form-control" />
                <span asp-validation-for="SitterAccount.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SitterAccount.Email" class="control-label"></label>
                <input asp-for="SitterAccount.Email" class="form-control" />
                <span asp-validation-for="SitterAccount.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SitterAccount.PhoneNumber" class="control-label"></label>
                <input asp-for="SitterAccount.PhoneNumber" class="form-control" />
                <span asp-validation-for="SitterAccount.PhoneNumber" class="text-danger"></span>
            </div>
            <!--
    <div class="form-group">
        <label asp-for="SitterAccount.Password" class="control-label"></label>
        <input asp-for="SitterAccount.Password" class="form-control" />
        <span asp-validation-for="SitterAccount.Password" class="text-danger"></span>
    </div>
        -->
            <div class="form-group">
                <label asp-for="SitterAccount.BirthDate" class="control-label"></label>
                <input asp-for="SitterAccount.BirthDate" class="form-control" />
                <span asp-validation-for="SitterAccount.BirthDate" class="text-danger"></span>
            </div>
            <!--
    <div class="form-group">
        <label asp-for="SitterAccount.PasswordConfirmed" class="control-label"></label>
        <input asp-for="SitterAccount.PasswordConfirmed" class="form-control" />
        <span asp-validation-for="SitterAccount.PasswordConfirmed" class="text-danger"></span>
    </div>
        -->
            <div class="form-group">
                <label asp-for="SitterAccount.EmailConfirmed" class="control-label"></label>
                <input asp-for="SitterAccount.EmailConfirmed" class="form-control" />
                <span asp-validation-for="SitterAccount.EmailConfirmed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SitterAccount.CriminalBackgroundAgreement" class="control-label"></label>
                <input asp-for="SitterAccount.CriminalBackgroundAgreement" class="form-control" />
                <span asp-validation-for="SitterAccount.CriminalBackgroundAgreement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
