﻿@page
@model house_sit_me_website.Pages.SitterCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SitterAccount[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SitterAccount[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SitterAccount[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SitterAccount[0].PhoneNumber)
            </th>
            <!--
    <th>
        Html.DisplayNameFor(model => model.SitterAccount[0].Password)
    </th>
        -->
            <th>
                @Html.DisplayNameFor(model => model.SitterAccount[0].BirthDate)
            </th>
            <!--
    <th>
        Html.DisplayNameFor(model => model.SitterAccount[0].PasswordConfirmed)
    </th>
        -->
            <th>
                @Html.DisplayNameFor(model => model.SitterAccount[0].EmailConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SitterAccount[0].CriminalBackgroundAgreement)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SitterAccount) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <!--
            <td>
                Html.DisplayFor(modelItem => item.Password)
            </td>
    -->
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <!--
            <td>
                Html.DisplayFor(modelItem => item.PasswordConfirmed)
            </td>
    -->
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CriminalBackgroundAgreement)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
