﻿@page
@model ApplyHouseWorkedModel
@{
}
<h2><font color="#84b83d">@ViewData["Title"]</font></h2>

<html>
<body style="background-color:#222222;">

    <strong><font color="#84b83d">Congrats! You have successfully applied to watch this house! The house owner will be notified of your application and be in contact with you shortly.</font></strong><br />

</body>
</html>