﻿@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2><font color="#84b83d">@ViewData["Title"]</font></h2>

<html>
<body style="background-color:#222222;">

    <address>
        <strong><font color="#84b83d">Address:</font></strong><p><font color="white">300 Fraser Purchase Rd. Latrobe, PA 15650</font></p><br />
        <strong><font color="#84b83d">Email Support:</font></strong> <p><font color="white">housesitme@gmail.com</font></p><br />
        <strong><font color="#84b83d">Phone:</font></strong> <p><font color="white">1.800.346.0218</font></p><br />
    </address>
</body>
</html>