﻿@page
@model HouseDetailsModel
@{
}

<html>
<body style="background-color:#222222;">

    <div>
        <div class="text-center">
            <h1><b><font color="#84b83d">@Html.DisplayFor(model => model.UploadHouse.Address)</font></b></h1>
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="~/images/house1.jpg" alt="First House" class="img-responsive" />
                    </div>
                    <div class="item">
                        <img src="~/images/house2.jpg" alt="Second House" class="img-responsive" />
                    </div>
                    <div class="item">
                        <img src="~/images/house3.jpg" alt="Third House" class="img-responsive" />
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div>
        <h4><b><u><font color="#84b83d">Description</font></u></b></h4>
        <li style="color:white"><font color="white">Start Time: @Html.DisplayFor(model => model.UploadHouse.StartDate)</font></li>
        <li style="color:white"><font color="white">End Time: @Html.DisplayFor(model => model.UploadHouse.EndDate)</font></li>
        <li style="color:white"><font color="white">@Html.DisplayFor(model => model.UploadHouse.Description)</font></li>
    </div>
    <div>
        <h4><b><u><font color="#84b83d">Responsibilities</font></u></b></h4>
        <li style="color:white"><font color="white">@Html.DisplayFor(model => model.UploadHouse.Pets)</font></li>
        <li style="color:white"><font color="white">@Html.DisplayNameFor(model => model.UploadHouse.Plants)</font></li>
    </div>
    <div>
        <h4><b><u><font color="#84b83d">Reviews</font></u></b></h4>
        <li style="color:white"><font color="white">My name is Cullen Rathman and I sat this house before. The dog is very friendly and the garden was not hard to take care of. Overall, I would rank this house 4.5 out of 5 stars.</font></li>
        <li style="color:white"><font color="white">My name is Joe Choby and I sat this house before. The dog was not so friendly and the hose that I was given to water the garden had a leak. Overall, I would rank this house 3 out of 5 stars.</font></li>
    </div>

    <br />

    <center><a href="/ApplyHouseWorked" class="btn-default">Sit This House!</a></center>

    <br />

</body>
</html>