﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>
<body style="background-color:#222222;">

    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/house1.jpg" alt="First House" class="img-responsive" />
            </div>
            <div class="item">
                <img src="~/images/house2.jpg" alt="Second House" class="img-responsive" />
            </div>
            <div class="item">
                <img src="~/images/house3.jpg" alt="Third House" class="img-responsive" />
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div>
        <div class="text-center">
            <h1><font color="#84b83d">Overview</font></h1>
            <ul>
                <p>
                    <font color="white">
                        House-Sit-Me was established in January of 2020 with the purpose of giving people a better way to find someone to watch over
                        there house, pet, gardens, etc. while away from there house for a extended period of time. Here is the step by step process a owner account
                        and a sitter account.
                    </font>
                </p>
            </ul>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
            <div class="text-center">
                <h3><font color="#84b83d">Owner Account</font></h3>
            </div>
            <ul>
                <li style="color:white"><font color="white">Click on Register and select Owner option</font></li>
                <li style="color:white"><font color="white">Fill out account application</font></li>
                <li style="color:white"><font color="white">Click on login and login with your account information</font></li>
                <li style="color:white"><font color="white">Navigate to the "Register House" page</font></li>
                <li style="color:white"><font color="white">Fill out the application step by step</font></li>
                <li style="color:white"><font color="white">Post your application and wait for a sitter to apply to sit your house</font></li>
            </ul>
        </div>
        <div class="col-md-3">
            <div class="text-center">
                <h3><font color="#84b83d">Sitter Account</font></h3>
            </div>
            <ul>
                <li style="color:white"><font color="white">Click on Register and select Sitter option</font></li>
                <li style="color:white"><font color="white">Fill out account application</font></li>
                <li style="color:white"><font color="white">Click on login and login with your account information</font></li>
                <li style="color:white"><font color="white">Navigate to the "House Listings" page</font></li>
                <li style="color:white"><font color="white">Select any house you wish to apply for</font></li>
                <li style="color:white"><font color="white">To request to sit, simply click "Sit this House!"</font></li>
                <li style="color:white"><font color="white">Wait for the house owner to contact you if they want you to sit their house</font></li>
            </ul>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</body>
