﻿@page
@model NewRegisterWorkedModel
@{
}
<h2><font color="#84b83d">@ViewData["Title"]</font></h2>

<html>
<body style="background-color:#222222;">

    <strong><font color="#84b83d">Congrats! You have successfully listed your house! We will contact you in the event of finding a suitable sitter.</font></strong><br />

</body>
</html>
