﻿@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<body style="background-color:#222222;">
    <h2><font color="#84b83d">@ViewData["Title"]</font></h2>
</body>

<p><font color="white">Last updated: April 15, 2020</font></p>

<p><font color="white">This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your information when You use the Service and tells You about Your privacy rights and how the law protects You.</font></p>

<p><font color="white">We use Your Personal data to provide and improve the Service. By using the Service, You agree to the collection and use of information in accordance with this Privacy Policy. This Privacy Policy has been created with the help of Privacy Policy Generator.</font></p>

<h1><font color="#83b84d">Interpretation and Definitions</font></h1>
<h2><font color="#83b84d">Interpretation</font></h2>
<p><font color="white">The words of which the initial letter is capitalized have meanings defined under the following conditions.</font></p>
<p><font color="white">The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.</font></p>

<h2><font color="#83b84d">Definitions</font></h2>
<p><font color="white">For the purposes of this Privacy Policy:</font></p>
<ul>
    <li style="color:white">
        <p><font color="white"><strong><font color="#83b84d">You</font></strong> means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</font></p>
    </li>
    <li style="color:white">
        <p><font color="white"><strong><font color="#83b84d">Company</font></strong> (referred to as either "the Company", "We", "Us" or "Our" in this Agreement) refers to House Sit me.</font></p>
    </li>
    <li style="color:white"><font color="white"><strong><font color="#83b84d">Affiliate</font></strong> means an entity that controls, is controlled by or is under common control with a party, where "control" means ownership of 50% or more of the shares, equity interest or other securities entitled to vote for election of directors or other managing authority.</font></li>
    <li style="color:white"><font color="white"><strong><font color="#83b84d">Account</font></strong> means a unique account created for You to access our Service or parts of our Service.</font></li>
    <li style="color:white"><font color="white"><strong><font color="#83b84d">Website</font></strong> refers to House Sit me, accessible from  http://www.housesitme.com</font></li>
    <li style="color:white"><font color="white"><strong><font color="#83b84d">Service</font></strong> refers to the Website.</font></li>
    <li style="color:white"><font color="white"><strong><font color="#83b84d">Country</font></strong> refers to: Pennsylvania, United States</font></li>
    <li style="color:white">
        <p><font color="white"><strong><font color="#83b84d">Service Provider</font></strong> means any natural or legal person who processes the data on behalf of the Company. It refers to third-party companies or individuals employed by the Company to facilitate the Service, to provide the Service on behalf of the Company, to perform services related to the Service or to assist the Company in analyzing how the Service is used.</font></p>
    </li>
    <li style="color:white"><font color="white"><strong><font color="#83b84d">Third-party Social Media Service</font></strong> refers to any website or any social network website through which a User can log in or create an account to use the Service.</font></li>
    <li style="color:white">
        <p><font color="white"><strong><font color="#83b84d">Personal Data</font></strong> is any information that relates to an identified or identifiable individual.</font></p>
    </li>
    <li style="color:white"><font color="white"><strong><font color="#83b84d">Cookies</font></strong> are small files that are placed on Your computer, mobile device or any other device by a website, containing the details of Your browsing history on that website among its many uses.</font></li>
    <li style="color:white"><font color="white"><strong><font color="#83b84d">Usage Data</font></strong> refers to data collected automatically, either generated by the use of the Service or from the Service infrastructure itself (for example, the duration of a page visit).</font></li>
</ul>

<h1><font color="#83b84d">Collecting and Using Your Personal Data</font></h1>
<h2><font color="#83b84d">Types of Data Collected</font></h2>

<h3><font color="#83b84d">Personal Data</font></h3>
<p><font color="white">While using Our Service, We may ask You to provide Us with certain personally identifiable information that can be used to contact or identify You. Personally identifiable information may include, but is not limited to:</font></p>
<ul>
    <li style="color:white"><font color="white">Email address</font></li>
    <li style="color:white"><font color="white">First name and last name</font></li>
    <li style="color:white"><font color="white">Phone number</font></li>
    <li style="color:white"><font color="white">Address, State, Province, ZIP/Postal code, City</font></li>
    <li style="color:white"><font color="white">Usage Data</font></li>
</ul>


<h3><font color="#83b84d">Usage Data</font></h3>
<p><font color="white">Usage Data is collected automatically when using the Service.</font></p>
<p><font color="white">Usage Data may include information such as Your Device's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that You visit, the time and date of Your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</font></p>
<p><font color="white">When You access the Service by or through a mobile device, We may collect certain information automatically, including, but not limited to, the type of mobile device You use, Your mobile device unique ID, the IP address of Your mobile device, Your mobile operating system, the type of mobile Internet browser You use, unique device identifiers and other diagnostic data.</font></p>
<p><font color="white">We may also collect information that Your browser sends whenever You visit our Service or when You access the Service by or through a mobile device.</font></p>



<h3><font color="#83b84d">Tracking Technologies and Cookies</font></h3>
<p><font color="white">We use Cookies and similar tracking technologies to track the activity on Our Service and store certain information. Tracking technologies used are beacons, tags, and scripts to collect and track information and to improve and analyze Our Service.</font></p>
<p><font color="white">You can instruct Your browser to refuse all Cookies or to indicate when a Cookie is being sent. However, if You do not accept Cookies, You may not be able to use some parts of our Service.</font></p>
<p><font color="white">Cookies can be "Persistent" or "Session" Cookies. Persistent Cookies remain on your personal computer or mobile device when You go offline, while Session Cookies are deleted as soon as You close your web browser.</font></p>
<p>
    <font color="white">We use both session and persistent Cookies for the purposes set out below:</font></p>
<li style="color:white">
<p><strong><font color="#83b84d">Necessary / Essential Cookies</font></strong></p>
<p><font color="white"><font color="#83b84d">Type:</font> Session Cookies</font></p>
<p><font color="white"><font color="#83b84d">Administered by:</font> Us</font></p>
<p><font color="white"><font color="#83b84d">Purpose:</font> These Cookies are essential to provide You with services available through the Website and to enable You to use some of its features. They help to authenticate users and prevent fraudulent use of user accounts. Without these Cookies, the services that You have asked for cannot be provided, and We only use these Cookies to provide You with those services.</font></p>
 </li>
<li style="color:white">
    <p><strong><font color="#83b84d">Cookies Policy / Notice Acceptance Cookies</font></strong></p>
    <p><font color="white"><font color="#83b84d">Type:</font> Persistent Cookies</font></p>
    <p><font color="white"><font color="#83b84d">Administered by:</font> Us</font></p>
    <p><font color="white"><font color="#83b84d">Purpose:</font> These Cookies identify if users have accepted the use of cookies on the Website.</font></p>
</li>
<li style="color:white">
    <p><strong><font color="#83b84d">Functionality Cookies</font></strong></p>
    <p><font color="white"><font color="#83b84d">Type:</font> Persistent Cookies</font></p>
    <p><font color="white"><font color="#83b84d">Administered by:</font> Us</font></p>
    <p><font color="white"><font color="#83b84d">Purpose:</font> These Cookies allow us to remember choices You make when You use the Website, such as remembering your login details or language preference. The purpose of these Cookies is to provide You with a more personal experience and to avoid You having to re-enter your preferences every time You use the Website.</font></p>
</li>
<p><font color="white">For more information about the cookies we use and your choices regarding cookies, please visit our Cookies Policy.</font></p>

<h2><font color="#83b84d">Use of Your Personal Data</font></h2>
<p><font color="white">The Company may use Personal Data for the following purposes:</font></p>
<ul>
    <li style="color:white"><font color="white"><strong><font color="#83b84d">To provide and maintain our Service</font></strong>, including to monitor the usage of our Service.</font></li>
    <li style="color:white"><font color="white"><strong><font color="#83b84d">To manage Your Account:</font></strong> to manage Your registration as a user of the Service. The Personal Data You provide can give You access to different functionalities of the Service that are available to You as a registered user.</font></li>
    <li style="color:white"><font color="white"><strong><font color="#83b84d">For the performance of a contract:</font></strong> the development, compliance and undertaking of the purchase contract for the products, items or services You have purchased or of any other contract with Us through the Service.</font></li>
    <li style="color:white"><font color="white"><strong><font color="#83b84d">To contact You:</font></strong> To contact You by email, telephone calls, SMS, or other equivalent forms of electronic communication, such as a mobile application's push notifications regarding updates or informative communications related to the functionalities, products or contracted services, including the security updates, when necessary or reasonable for their implementation.</font></li>
    <li style="color:white"><font color="white"><strong><font color="#83b84d">To provide You:</font></strong> with news, special offers and general information about other goods, services and events which we offer that are similar to those that you have already purchased or enquired about unless You have opted not to receive such information</font></li>
    <li style="color:white"><font color="white"><strong><font color="#83b84d">To manage Your requests:</font></strong> To attend and manage Your requests to Us.</font></li>
</ul>

<p><font color="white">We may share your personal information in the following situations:</font></p>

<ul>
    <li style="color:white"><font color="white"><strong><font color="#83b84d">With Service Providers:</font></strong> We may share Your personal information with Service Providers to monitor and analyze the use of our Service,  to contact You.</font></li>
    <li style="color:white"><font color="white"><strong><font color="#83b84d">For Business transfers:</font></strong> We may share or transfer Your personal information in connection with, or during negotiations of, any merger, sale of Company assets, financing, or acquisition of all or a portion of our business to another company.</font></li>
    <li style="color:white"><font color="white"><strong><font color="#83b84d">With Affiliates:</font></strong> We may share Your information with Our affiliates, in which case we will require those affiliates to honor this Privacy Policy. Affiliates include Our parent company and any other subsidiaries, joint venture partners or other companies that We control or that are under common control with Us.</font></li>
    <li style="color:white"><font color="white"><strong><font color="#83b84d">With Business partners:</font></strong> We may share Your information with Our business partners to offer You certain products, services or promotions.</font></li>
    <li style="color:white"><font color="white"><strong><font color="#83b84d">With other users:</font></strong> when You share personal information or otherwise interact in the public areas with other users, such information may be viewed by all users and may be publicly distributed outside. If You interact with other users or register through a Third-Party Social Media Service, Your contacts on the Third-Party Social Media Service may see Your name, profile, pictures and description of Your activity. Similarly, other users will be able to view descriptions of Your activity, communicate with You and view Your profile.</font></li>
</ul>

<h2><font color="#83b84d">Retention of Your Personal Data</font></h2>
<p><font color="white">The Company will retain Your Personal Data only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use Your Personal Data to the extent necessary to comply with our legal obligations (for example, if we are required to retain your data to comply with applicable laws), resolve disputes, and enforce our legal agreements and policies.</font></p>
<p><font color="white">The Company will also retain Usage Data for internal analysis purposes. Usage Data is generally retained for a shorter period of time, except when this data is used to strengthen the security or to improve the functionality of Our Service, or We are legally obligated to retain this data for longer time periods.</font></p>

<h2><font color="#83b84d">Transfer of Your Personal Data</font></h2>
<p><font color="white">Your information, including Personal Data, is processed at the Company's operating offices and in any other places where the parties involved in the processing are located. It means that this information may be transferred to — and maintained on — computers located outside of Your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from Your jurisdiction.</font></p>
<p><font color="white">Your consent to this Privacy Policy followed by Your submission of such information represents Your agreement to that transfer.</font></p>
<p><font color="white">The Company will take all steps reasonably necessary to ensure that Your data is treated securely and in accordance with this Privacy Policy and no transfer of Your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of Your data and other personal information.</font></p>

<h2><font color="#83b84d">Disclosure of Your Personal Data</font></h2>
<h3><font color="#83b84d">Business Transactions</font></h3>
<p><font color="white">If the Company is involved in a merger, acquisition or asset sale, Your Personal Data may be transferred. We will provide notice before Your Personal Data is transferred and becomes subject to a different Privacy Policy.</font></p>
<h3><font color="#83b84d">Law enforcement</font></h3>
<p><font color="white">Under certain circumstances, the Company may be required to disclose Your Personal Data if required to do so by law or in response to valid requests by public authorities (e.g. a court or a government agency).</font></p>
<h3><font color="#83b84d">Other legal requirements</font></h3>
<p><font color="white">The Company may disclose Your Personal Data in the good faith belief that such action is necessary to:</font></p>
<ul>
    <li style="color:white"><font color="white">Comply with a legal obligation</font></li>
    <li style="color:white"><font color="white">Protect and defend the rights or property of the Company</font></li>
    <li style="color:white"><font color="white">Prevent or investigate possible wrongdoing in connection with the Service</font></li>
    <li style="color:white"><font color="white">Protect the personal safety of Users of the Service or the public</font></li>
    <li style="color:white"><font color="white">Protect against legal liability</font></li>
</ul>

<h2><font color="#83b84d">Security of Your Personal Data</font></h2>
<p><font color="white">The security of Your Personal Data is important to Us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While We strive to use commercially acceptable means to protect Your Personal Data, We cannot guarantee its absolute security.</font></p>






<h1><font color="#83b84d">Children's Privacy</font></h1>
<p><font color="white">Our Service does not address anyone under the age of 13. We do not knowingly collect personally identifiable information from anyone under the age of 13. If You are a parent or guardian and You are aware that Your child has provided Us with Personal Data, please contact Us. If We become aware that We have collected Personal Data from anyone under the age of 13 without verification of parental consent, We take steps to remove that information from Our servers.</font></p>
<p><font color="white">If We need to rely on consent as a legal basis for processing Your information and Your country requires consent from a parent, We may require Your parent's consent before We collect and use that information.</font></p>


<h1><font color="#83b84d">Links to Other Websites</font></h1>
<p><font color="white">Our Service may contain links to other websites that are not operated by Us. If You click on a third party link, You will be directed to that third party's site. We strongly advise You to review the Privacy Policy of every site You visit.</font></p>
<p><font color="white">We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</font></p>

<h1><font color="#83b84d">Changes to this Privacy Policy</font></h1>
<p><font color="white">We may update our Privacy Policy from time to time. We will notify You of any changes by posting the new Privacy Policy on this page.</font></p>
<p><font color="white">We will let You know via email and/or a prominent notice on Our Service, prior to the change becoming effective and update the "Last updated" date at the top of this Privacy Policy.</font></p>
<p><font color="white">You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</font></p>

<h1><font color="#83b84d">Contact Us</font></h1>
<p><font color="white">If you have any questions about this Privacy Policy, You can contact us:</font></p>
<ul>
    <li style="color:white"><font color="white">By visiting this page on our website: <a asp-page="/Contact">Contact</a></font></li>
</ul>