﻿@page
@model SitterCreateWorkedModel
@{
}
<h2><font color="#84b83d">@ViewData["Title"]</font></h2>

<html>
<body style="background-color:#222222;">

    <strong><font color="#84b83d"> Congrats! Your house sitter account has been created.</font></strong><br />

</body>
</html>
