﻿@page
@model house_sit_me_website.Pages.OwnerCRUD.CreateModel

@{
    ViewData["Title"] = "Create an Owner Account";
}
<body style="background-color:#222222;">
    <h2><font color="#83b84d">Create an Owner Account</font></h2>

    <h4><font color="white">House Owner Registration</font></h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <font color="#84b83d"><b>First Name</b></font>
                    <input asp-for="OwnerAccount.FirstName" class="form-control" />
                    <span asp-validation-for="OwnerAccount.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <font color="#84b83d"><b>Last Name</b></font>
                    <input asp-for="OwnerAccount.LastName" class="form-control" />
                    <span asp-validation-for="OwnerAccount.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <font color="#84b83d"><b>Date of Birth</b></font>
                    <input asp-for="OwnerAccount.BirthDate" class="form-control" />
                    <span asp-validation-for="OwnerAccount.BirthDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <font color="#84b83d"><b>Email Address</b></font>
                    <input asp-for="OwnerAccount.Email" class="form-control" />
                    <span asp-validation-for="OwnerAccount.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <font color="#84b83d"><b>Confirm Email Address</b></font>
                    <input asp-for="OwnerAccount.EmailConfirmed" class="form-control" />
                    <span asp-validation-for="OwnerAccount.EmailConfirmed" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <font color="#84b83d"><b>Phone Number</b></font>
                    <input asp-for="OwnerAccount.PhoneNumber" class="form-control" />
                    <span asp-validation-for="OwnerAccount.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <font color="#84b83d"><b>Password (Includes at least 6 characters, a capital letter, a symbol, and a number)</b></font>
                    <input asp-for="OwnerAccount.Password" type="password" class="form-control" />
                    <span asp-validation-for="OwnerAccount.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <font color="#84b83d"><b>Confirm Password</b></font>
                    <input asp-for="OwnerAccount.PasswordConfirmed" type="password" class="form-control" />
                    <span asp-validation-for="OwnerAccount.PasswordConfirmed" class="text-danger"></span>
                </div>

                @*<div class="form-group">
            <label asp-for="OwnerAccount.CriminalBackgroundAgreement" class="control-label"></label>
            <input asp-for="OwnerAccount.CriminalBackgroundAgreement" class="form-control" />
            <span asp-validation-for="OwnerAccount.CriminalBackgroundAgreement" class="text-danger"></span>
        </div>*@
                <p><b><font color="#84b83d">By creating an account you agree to our <a asp-page="/Privacy">Terms & Privacy</a>.</font></b></p>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
