﻿@page
@model house_sit_me_website.Pages.OwnerCRUD.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OwnerAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OwnerAccount.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OwnerAccount.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OwnerAccount.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OwnerAccount.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OwnerAccount.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OwnerAccount.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OwnerAccount.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OwnerAccount.PhoneNumber)
        </dd>
        <!--
    <dt>
        Html.DisplayNameFor(model => model.OwnerAccount.Password)
    </dt>
    <dd>
        Html.DisplayFor(model => model.OwnerAccount.Password)
    </dd>
        -->
        <dt>
            @Html.DisplayNameFor(model => model.OwnerAccount.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OwnerAccount.BirthDate)
        </dd>
        <!--
    <dt>
        Html.DisplayNameFor(model => model.OwnerAccount.PasswordConfirmed)
    </dt>
    <dd>
        Html.DisplayFor(model => model.OwnerAccount.PasswordConfirmed)
    </dd>
     -->
        <dt>
            @Html.DisplayNameFor(model => model.OwnerAccount.EmailConfirmed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OwnerAccount.EmailConfirmed)
        </dd>
        <!--
    <dt>
        Html.DisplayNameFor(model => model.OwnerAccount.CriminalBackgroundAgreement)
    </dt>
    <dd>
        Html.DisplayFor(model => model.OwnerAccount.CriminalBackgroundAgreement)
    </dd>
        -->
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="OwnerAccount.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
