﻿@page
@model house_sit_me_website.Pages.OwnerCRUD.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>OwnerAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OwnerAccount.ID" />
            <div class="form-group">
                <label asp-for="OwnerAccount.FirstName" class="control-label"></label>
                <input asp-for="OwnerAccount.FirstName" class="form-control" />
                <span asp-validation-for="OwnerAccount.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerAccount.LastName" class="control-label"></label>
                <input asp-for="OwnerAccount.LastName" class="form-control" />
                <span asp-validation-for="OwnerAccount.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerAccount.Email" class="control-label"></label>
                <input asp-for="OwnerAccount.Email" class="form-control" />
                <span asp-validation-for="OwnerAccount.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerAccount.PhoneNumber" class="control-label"></label>
                <input asp-for="OwnerAccount.PhoneNumber" class="form-control" />
                <span asp-validation-for="OwnerAccount.PhoneNumber" class="text-danger"></span>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="OwnerAccount.Password" class="control-label"></label>
                <input asp-for="OwnerAccount.Password" class="form-control" />
                <span asp-validation-for="OwnerAccount.Password" class="text-danger"></span>
            </div>
                -->
            <div class="form-group">
                <label asp-for="OwnerAccount.BirthDate" class="control-label"></label>
                <input asp-for="OwnerAccount.BirthDate" class="form-control" />
                <span asp-validation-for="OwnerAccount.BirthDate" class="text-danger"></span>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="OwnerAccount.PasswordConfirmed" class="control-label"></label>
                <input asp-for="OwnerAccount.PasswordConfirmed" class="form-control" />
                <span asp-validation-for="OwnerAccount.PasswordConfirmed" class="text-danger"></span>
            </div>
                -->
            <div class="form-group">
                <label asp-for="OwnerAccount.EmailConfirmed" class="control-label"></label>
                <input asp-for="OwnerAccount.EmailConfirmed" class="form-control" />
                <span asp-validation-for="OwnerAccount.EmailConfirmed" class="text-danger"></span>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="OwnerAccount.CriminalBackgroundAgreement" class="control-label"></label>
                <input asp-for="OwnerAccount.CriminalBackgroundAgreement" class="form-control" />
                <span asp-validation-for="OwnerAccount.CriminalBackgroundAgreement" class="text-danger"></span>
            </div>
               -->
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
