﻿@page
@model house_sit_me_website.Pages.UploadCRUD.CreateModel

@{
    ViewData["Title"] = "Create";
}

<body style="background-color:#222222;">
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <h1><font color="#84b83d">Register a House</font></h1>
                <p><font color="white">Please fill out this form accurately to create a house listing.</font></p>

                <!--House Type-->
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <b><font color="#84b83d">What style house do you own?</font></b>
                    <label class="control-label"></label>
                    <select class="form-control" asp-for="HouseType">
                        <option value="2-Story">2-Story</option>
                        <option value="Ranch">Ranch</option>
                        <option value="Apartment">Apartment</option>
                        <option value="Mobile">Mobile</option>
                        <option value="Split House">Split House</option>
                        <option value="Duplex">Duplex</option>
                        <option value="Other">Other</option>
                    </select>
                    <span asp-validation-for="UploadHouse.HouseType" class="text-danger"></span>
                </div>

                <!--Area Type-->
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <b><font color="#84b83d">What area do you live in?</font></b>
                    <label class="control-label"></label>
                    <select class="form-control" asp-for="AreaType">
                        <option value="Suburban">Suburban</option>
                        <option value="Rural">Rural</option>
                        <option value="Urban">Urban</option>
                    </select>
                    <span asp-validation-for="UploadHouse.AreaType" class="text-danger"></span>
                </div>

                <!--Country-->
                <div class="form-group">
                    <b><font color="#84b83d">What country do you live in?</font></b>
                    <label class="control-label"></label>
                    <select class="form-control" asp-for="Country">
                        <option value="Afganistan">Afghanistan</option>
                        <option value="Albania">Albania</option>
                        <option value="Algeria">Algeria</option>
                        <option value="American Samoa">American Samoa</option>
                        <option value="Andorra">Andorra</option>
                        <option value="Angola">Angola</option>
                        <option value="Anguilla">Anguilla</option>
                        <option value="Antigua & Barbuda">Antigua & Barbuda</option>
                        <option value="Argentina">Argentina</option>
                        <option value="Armenia">Armenia</option>
                        <option value="Aruba">Aruba</option>
                        <option value="Australia">Australia</option>
                        <option value="Austria">Austria</option>
                        <option value="Azerbaijan">Azerbaijan</option>
                        <option value="Bahamas">Bahamas</option>
                        <option value="Bahrain">Bahrain</option>
                        <option value="Bangladesh">Bangladesh</option>
                        <option value="Barbados">Barbados</option>
                        <option value="Belarus">Belarus</option>
                        <option value="Belgium">Belgium</option>
                        <option value="Belize">Belize</option>
                        <option value="Benin">Benin</option>
                        <option value="Bermuda">Bermuda</option>
                        <option value="Bhutan">Bhutan</option>
                        <option value="Bolivia">Bolivia</option>
                        <option value="Bonaire">Bonaire</option>
                        <option value="Bosnia & Herzegovina">Bosnia & Herzegovina</option>
                        <option value="Botswana">Botswana</option>
                        <option value="Brazil">Brazil</option>
                        <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                        <option value="Brunei">Brunei</option>
                        <option value="Bulgaria">Bulgaria</option>
                        <option value="Burkina Faso">Burkina Faso</option>
                        <option value="Burundi">Burundi</option>
                        <option value="Cambodia">Cambodia</option>
                        <option value="Cameroon">Cameroon</option>
                        <option value="Canada">Canada</option>
                        <option value="Canary Islands">Canary Islands</option>
                        <option value="Cape Verde">Cape Verde</option>
                        <option value="Cayman Islands">Cayman Islands</option>
                        <option value="Central African Republic">Central African Republic</option>
                        <option value="Chad">Chad</option>
                        <option value="Channel Islands">Channel Islands</option>
                        <option value="Chile">Chile</option>
                        <option value="China">China</option>
                        <option value="Christmas Island">Christmas Island</option>
                        <option value="Cocos Island">Cocos Island</option>
                        <option value="Colombia">Colombia</option>
                        <option value="Comoros">Comoros</option>
                        <option value="Congo">Congo</option>
                        <option value="Cook Islands">Cook Islands</option>
                        <option value="Costa Rica">Costa Rica</option>
                        <option value="Cote DIvoire">Cote DIvoire</option>
                        <option value="Croatia">Croatia</option>
                        <option value="Cuba">Cuba</option>
                        <option value="Curaco">Curacao</option>
                        <option value="Cyprus">Cyprus</option>
                        <option value="Czech Republic">Czech Republic</option>
                        <option value="Denmark">Denmark</option>
                        <option value="Djibouti">Djibouti</option>
                        <option value="Dominica">Dominica</option>
                        <option value="Dominican Republic">Dominican Republic</option>
                        <option value="East Timor">East Timor</option>
                        <option value="Ecuador">Ecuador</option>
                        <option value="Egypt">Egypt</option>
                        <option value="El Salvador">El Salvador</option>
                        <option value="Equatorial Guinea">Equatorial Guinea</option>
                        <option value="Eritrea">Eritrea</option>
                        <option value="Estonia">Estonia</option>
                        <option value="Ethiopia">Ethiopia</option>
                        <option value="Falkland Islands">Falkland Islands</option>
                        <option value="Faroe Islands">Faroe Islands</option>
                        <option value="Fiji">Fiji</option>
                        <option value="Finland">Finland</option>
                        <option value="France">France</option>
                        <option value="French Guiana">French Guiana</option>
                        <option value="French Polynesia">French Polynesia</option>
                        <option value="French Southern Ter">French Southern Ter</option>
                        <option value="Gabon">Gabon</option>
                        <option value="Gambia">Gambia</option>
                        <option value="Georgia">Georgia</option>
                        <option value="Germany">Germany</option>
                        <option value="Ghana">Ghana</option>
                        <option value="Gibraltar">Gibraltar</option>
                        <option value="Great Britain">Great Britain</option>
                        <option value="Greece">Greece</option>
                        <option value="Greenland">Greenland</option>
                        <option value="Grenada">Grenada</option>
                        <option value="Guadeloupe">Guadeloupe</option>
                        <option value="Guam">Guam</option>
                        <option value="Guatemala">Guatemala</option>
                        <option value="Guinea">Guinea</option>
                        <option value="Guyana">Guyana</option>
                        <option value="Haiti">Haiti</option>
                        <option value="Hawaii">Hawaii</option>
                        <option value="Honduras">Honduras</option>
                        <option value="Hong Kong">Hong Kong</option>
                        <option value="Hungary">Hungary</option>
                        <option value="Iceland">Iceland</option>
                        <option value="Indonesia">Indonesia</option>
                        <option value="India">India</option>
                        <option value="Iran">Iran</option>
                        <option value="Iraq">Iraq</option>
                        <option value="Ireland">Ireland</option>
                        <option value="Isle of Man">Isle of Man</option>
                        <option value="Israel">Israel</option>
                        <option value="Italy">Italy</option>
                        <option value="Jamaica">Jamaica</option>
                        <option value="Japan">Japan</option>
                        <option value="Jordan">Jordan</option>
                        <option value="Kazakhstan">Kazakhstan</option>
                        <option value="Kenya">Kenya</option>
                        <option value="Kiribati">Kiribati</option>
                        <option value="Korea North">Korea North</option>
                        <option value="Korea Sout">Korea South</option>
                        <option value="Kuwait">Kuwait</option>
                        <option value="Kyrgyzstan">Kyrgyzstan</option>
                        <option value="Laos">Laos</option>
                        <option value="Latvia">Latvia</option>
                        <option value="Lebanon">Lebanon</option>
                        <option value="Lesotho">Lesotho</option>
                        <option value="Liberia">Liberia</option>
                        <option value="Libya">Libya</option>
                        <option value="Liechtenstein">Liechtenstein</option>
                        <option value="Lithuania">Lithuania</option>
                        <option value="Luxembourg">Luxembourg</option>
                        <option value="Macau">Macau</option>
                        <option value="Macedonia">Macedonia</option>
                        <option value="Madagascar">Madagascar</option>
                        <option value="Malaysia">Malaysia</option>
                        <option value="Malawi">Malawi</option>
                        <option value="Maldives">Maldives</option>
                        <option value="Mali">Mali</option>
                        <option value="Malta">Malta</option>
                        <option value="Marshall Islands">Marshall Islands</option>
                        <option value="Martinique">Martinique</option>
                        <option value="Mauritania">Mauritania</option>
                        <option value="Mauritius">Mauritius</option>
                        <option value="Mayotte">Mayotte</option>
                        <option value="Mexico">Mexico</option>
                        <option value="Midway Islands">Midway Islands</option>
                        <option value="Moldova">Moldova</option>
                        <option value="Monaco">Monaco</option>
                        <option value="Mongolia">Mongolia</option>
                        <option value="Montserrat">Montserrat</option>
                        <option value="Morocco">Morocco</option>
                        <option value="Mozambique">Mozambique</option>
                        <option value="Myanmar">Myanmar</option>
                        <option value="Nambia">Nambia</option>
                        <option value="Nauru">Nauru</option>
                        <option value="Nepal">Nepal</option>
                        <option value="Netherland Antilles">Netherland Antilles</option>
                        <option value="Netherlands">Netherlands (Holland, Europe)</option>
                        <option value="Nevis">Nevis</option>
                        <option value="New Caledonia">New Caledonia</option>
                        <option value="New Zealand">New Zealand</option>
                        <option value="Nicaragua">Nicaragua</option>
                        <option value="Niger">Niger</option>
                        <option value="Nigeria">Nigeria</option>
                        <option value="Niue">Niue</option>
                        <option value="Norfolk Island">Norfolk Island</option>
                        <option value="Norway">Norway</option>
                        <option value="Oman">Oman</option>
                        <option value="Pakistan">Pakistan</option>
                        <option value="Palau Island">Palau Island</option>
                        <option value="Palestine">Palestine</option>
                        <option value="Panama">Panama</option>
                        <option value="Papua New Guinea">Papua New Guinea</option>
                        <option value="Paraguay">Paraguay</option>
                        <option value="Peru">Peru</option>
                        <option value="Phillipines">Philippines</option>
                        <option value="Pitcairn Island">Pitcairn Island</option>
                        <option value="Poland">Poland</option>
                        <option value="Portugal">Portugal</option>
                        <option value="Puerto Rico">Puerto Rico</option>
                        <option value="Qatar">Qatar</option>
                        <option value="Republic of Montenegro">Republic of Montenegro</option>
                        <option value="Republic of Serbia">Republic of Serbia</option>
                        <option value="Reunion">Reunion</option>
                        <option value="Romania">Romania</option>
                        <option value="Russia">Russia</option>
                        <option value="Rwanda">Rwanda</option>
                        <option value="St Barthelemy">St Barthelemy</option>
                        <option value="St Eustatius">St Eustatius</option>
                        <option value="St Helena">St Helena</option>
                        <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                        <option value="St Lucia">St Lucia</option>
                        <option value="St Maarten">St Maarten</option>
                        <option value="St Pierre & Miquelon">St Pierre & Miquelon</option>
                        <option value="St Vincent & Grenadines">St Vincent & Grenadines</option>
                        <option value="Saipan">Saipan</option>
                        <option value="Samoa">Samoa</option>
                        <option value="Samoa American">Samoa American</option>
                        <option value="San Marino">San Marino</option>
                        <option value="Sao Tome & Principe">Sao Tome & Principe</option>
                        <option value="Saudi Arabia">Saudi Arabia</option>
                        <option value="Senegal">Senegal</option>
                        <option value="Seychelles">Seychelles</option>
                        <option value="Sierra Leone">Sierra Leone</option>
                        <option value="Singapore">Singapore</option>
                        <option value="Slovakia">Slovakia</option>
                        <option value="Slovenia">Slovenia</option>
                        <option value="Solomon Islands">Solomon Islands</option>
                        <option value="Somalia">Somalia</option>
                        <option value="South Africa">South Africa</option>
                        <option value="Spain">Spain</option>
                        <option value="Sri Lanka">Sri Lanka</option>
                        <option value="Sudan">Sudan</option>
                        <option value="Suriname">Suriname</option>
                        <option value="Swaziland">Swaziland</option>
                        <option value="Sweden">Sweden</option>
                        <option value="Switzerland">Switzerland</option>
                        <option value="Syria">Syria</option>
                        <option value="Tahiti">Tahiti</option>
                        <option value="Taiwan">Taiwan</option>
                        <option value="Tajikistan">Tajikistan</option>
                        <option value="Tanzania">Tanzania</option>
                        <option value="Thailand">Thailand</option>
                        <option value="Togo">Togo</option>
                        <option value="Tokelau">Tokelau</option>
                        <option value="Tonga">Tonga</option>
                        <option value="Trinidad & Tobago">Trinidad & Tobago</option>
                        <option value="Tunisia">Tunisia</option>
                        <option value="Turkey">Turkey</option>
                        <option value="Turkmenistan">Turkmenistan</option>
                        <option value="Turks & Caicos Is">Turks & Caicos Is</option>
                        <option value="Tuvalu">Tuvalu</option>
                        <option value="Uganda">Uganda</option>
                        <option value="United Kingdom">United Kingdom</option>
                        <option value="Ukraine">Ukraine</option>
                        <option value="United Arab Erimates">United Arab Emirates</option>
                        <option value="United States of America">United States of America</option>
                        <option value="Uraguay">Uruguay</option>
                        <option value="Uzbekistan">Uzbekistan</option>
                        <option value="Vanuatu">Vanuatu</option>
                        <option value="Vatican City State">Vatican City State</option>
                        <option value="Venezuela">Venezuela</option>
                        <option value="Vietnam">Vietnam</option>
                        <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                        <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                        <option value="Wake Island">Wake Island</option>
                        <option value="Wallis & Futana Is">Wallis & Futana Is</option>
                        <option value="Yemen">Yemen</option>
                        <option value="Zaire">Zaire</option>
                        <option value="Zambia">Zambia</option>
                        <option value="Zimbabwe">Zimbabwe</option>
                    </select>
                    <span asp-validation-for="UploadHouse.Country" class="text-danger"></span>
                </div>

                <!--City-->
                <div class="form-group">
                    <b><font color="#84b83d">Input your city.</font></b>
                    <input asp-for="UploadHouse.City" class="form-control" />
                    <span asp-validation-for="UploadHouse.City" class="text-danger"></span>
                </div>

                <!--State-->
                <div class="form-group">
                    <b><font color="#84b83d">Input your state.</font></b>
                    <input asp-for="UploadHouse.State" class="form-control" />
                    <span asp-validation-for="UploadHouse.State" class="text-danger"></span>
                </div>

                <!--Zip Code-->
                <div class="form-group">
                    <b><font color="#84b83d">Input your zip code.</font></b>
                    <input asp-for="UploadHouse.Zip" class="form-control" />
                    <span asp-validation-for="UploadHouse.Zip" class="text-danger"></span>
                </div>

                <!--Start and End Dates-->
                <div class="form-group">
                    <b><font color="#84b83d">What is the starting day?</font></b>
                    <input asp-for="UploadHouse.StartDate" class="form-control" />
                    <span asp-validation-for="UploadHouse.StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <b><font color="#84b83d">What is the ending day?</font></b>
                    <input asp-for="UploadHouse.EndDate" class="form-control" />
                    <span asp-validation-for="UploadHouse.EndDate" class="text-danger"></span>
                </div>

                <!--Radius-->
                <!--<div class="form-group">
                <label asp-for="UploadHouse.Radius" class="control-label"></label>
                <input asp-for="UploadHouse.Radius" class="form-control" />
                <span asp-validation-for="UploadHouse.Radius" class="text-danger"></span>
                </div>-->
                <!--Transportation-->
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <b><font color="#84b83d">What type of transportation is offered?</font></b>
                    <label class="control-label"></label>
                    <select class="form-control" asp-for="Transportation">
                        <option value="Car">Car</option>
                        <option value="Bus">Bus</option>
                        <option value="Train">Train</option>
                        <option value="Subway">Subway</option>
                        <option value="Bicycle">Bicycle</option>
                        <option value="Walking">Walking</option>
                    </select>
                    <span asp-validation-for="UploadHouse.Transportation" class="text-danger"></span>
                </div>

                <!--Payment Types-->
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <b><font color="#84b83d">Payment options:</font></b>
                    <label class="control-label"></label>
                    <select class="form-control" asp-for="PaymentType">
                        <option value="Cash">Cash</option>
                        <option value="Check">Check</option>
                        <option value="Card">Card</option>
                        <option value="Digital">Digital</option>
                    </select>
                    <span asp-validation-for="UploadHouse.PaymentType" class="text-danger"></span>
                </div>

                <!--Plant Information-->
                <div class="form-group">
                    <b><font color="#84b83d">Do you have and plants that need care?</font></b>
                    <label class="control-label"></label>
                    <select class="form-control" asp-for="HavePlants">
                        <option value="Cash">Yes, I have plants that need watched.</option>
                        <option value="Check">No, I have no plants that need watched.</option>
                    </select>
                    <span asp-validation-for="UploadHouse.HavePlants" class="text-danger"></span>
                </div>
                <!--Plant Description-->
                <div class="form-group">
                    <b><font color="#84b83d">If yes, what are the types of plants.</font></b>
                    <input asp-for="UploadHouse.Plants" class="form-control" />
                    <span asp-validation-for="UploadHouse.Plants" class="text-danger"></span>
                </div>
                <!--Number Of Plants-->
                <div class="form-group">
                    <b><font color="#84b83d">Estimated number of plants:</font></b>
                    <input asp-for="UploadHouse.NumberOfPlants" class="form-control" />
                    <span asp-validation-for="UploadHouse.NumberOfPlants" class="text-danger"></span>
                </div>

                <!--Pet Information-->
                <div class="form-group">
                    <b><font color="#84b83d">Do you have pets that need sat?</font></b>
                    <label class="control-label"></label>
                    <select class="form-control" asp-for="HavePets">
                        <option value="Cash">Yes, I have pets that need watched.</option>
                        <option value="Check">No, I have no pets that need watched.</option>
                    </select>
                    <span asp-validation-for="UploadHouse.HavePets" class="text-danger"></span>
                </div>
                <!--Pet Types-->
                <div class="form-group">
                    <b><font color="#84b83d">If yes, what are the types of pets.</font></b>
                    <input asp-for="UploadHouse.Pets" class="form-control" />
                    <span asp-validation-for="UploadHouse.Pets" class="text-danger"></span>
                </div>
                <!--Number Of Pets-->
                <div class="form-group">
                    <b><font color="#84b83d">Number of Pets:</font></b>
                    <input asp-for="UploadHouse.NumberOfPets" class="form-control" />
                    <span asp-validation-for="UploadHouse.NumberOfPets" class="text-danger"></span>
                </div>

                <!--Description-->
                <div class="form-group">
                    <b>
                        <font color="84b83d">
                            Describe your house and location, your pets and everything about them, and responsibities of the job. Remeber, this is what sitters will see, so include as much as
                            they need to make your life easier!
                        </font>
                    </b>
                    <input asp-for="UploadHouse.Description" class="form-control" />
                    <span asp-validation-for="UploadHouse.Description" class="text-danger"></span>
                </div>

                <!--House Title-->
                <div class="form-group">
                    <b><font color="#84b83d">Title Your Listing:</font></b>
                    <input asp-for="UploadHouse.Address" class="form-control" />
                    <span asp-validation-for="UploadHouse.Address" class="text-danger"></span>
                </div>

                <p><b><font color="#84b83d">By registering your house you agree to our <a asp-page="/Privacy">Terms & Privacy</a>.</font></b></p>

                <div class="form-group">
                    <button type="submit" class="registerbtn"><font color="#222222">Post Your House!</font></button>
                </div>

            </form>
        </div>
    </div>

</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
