﻿@page
@model house_sit_me_website.Pages.UploadCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>UploadHouse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UploadHouse.HouseType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadHouse.HouseType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadHouse.AreaType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadHouse.AreaType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadHouse.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadHouse.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadHouse.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadHouse.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadHouse.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadHouse.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadHouse.Zip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadHouse.Zip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadHouse.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadHouse.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadHouse.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadHouse.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadHouse.Radius)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadHouse.Radius)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadHouse.Transportation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadHouse.Transportation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadHouse.PaymentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadHouse.PaymentType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadHouse.HavePlants)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadHouse.HavePlants)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadHouse.Plants)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadHouse.Plants)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadHouse.NumberOfPlants)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadHouse.NumberOfPlants)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadHouse.HavePets)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadHouse.HavePets)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadHouse.Pets)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadHouse.Pets)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadHouse.NumberOfPets)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadHouse.NumberOfPets)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadHouse.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadHouse.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadHouse.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadHouse.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.UploadHouse.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
