﻿@page
@model house_sit_me_website.Pages.UploadCRUD.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>UploadHouse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UploadHouse.ID" />
            <div class="form-group">
                <label asp-for="UploadHouse.HouseType" class="control-label"></label>
                <input asp-for="UploadHouse.HouseType" class="form-control" />
                <span asp-validation-for="UploadHouse.HouseType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadHouse.AreaType" class="control-label"></label>
                <input asp-for="UploadHouse.AreaType" class="form-control" />
                <span asp-validation-for="UploadHouse.AreaType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadHouse.Country" class="control-label"></label>
                <input asp-for="UploadHouse.Country" class="form-control" />
                <span asp-validation-for="UploadHouse.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadHouse.City" class="control-label"></label>
                <input asp-for="UploadHouse.City" class="form-control" />
                <span asp-validation-for="UploadHouse.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadHouse.State" class="control-label"></label>
                <input asp-for="UploadHouse.State" class="form-control" />
                <span asp-validation-for="UploadHouse.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadHouse.Zip" class="control-label"></label>
                <input asp-for="UploadHouse.Zip" class="form-control" />
                <span asp-validation-for="UploadHouse.Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadHouse.StartDate" class="control-label"></label>
                <input asp-for="UploadHouse.StartDate" class="form-control" />
                <span asp-validation-for="UploadHouse.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadHouse.EndDate" class="control-label"></label>
                <input asp-for="UploadHouse.EndDate" class="form-control" />
                <span asp-validation-for="UploadHouse.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadHouse.Radius" class="control-label"></label>
                <input asp-for="UploadHouse.Radius" class="form-control" />
                <span asp-validation-for="UploadHouse.Radius" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadHouse.Transportation" class="control-label"></label>
                <input asp-for="UploadHouse.Transportation" class="form-control" />
                <span asp-validation-for="UploadHouse.Transportation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadHouse.PaymentType" class="control-label"></label>
                <input asp-for="UploadHouse.PaymentType" class="form-control" />
                <span asp-validation-for="UploadHouse.PaymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadHouse.HavePlants" class="control-label"></label>
                <input asp-for="UploadHouse.HavePlants" class="form-control" />
                <span asp-validation-for="UploadHouse.HavePlants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadHouse.Plants" class="control-label"></label>
                <input asp-for="UploadHouse.Plants" class="form-control" />
                <span asp-validation-for="UploadHouse.Plants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadHouse.NumberOfPlants" class="control-label"></label>
                <input asp-for="UploadHouse.NumberOfPlants" class="form-control" />
                <span asp-validation-for="UploadHouse.NumberOfPlants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadHouse.HavePets" class="control-label"></label>
                <input asp-for="UploadHouse.HavePets" class="form-control" />
                <span asp-validation-for="UploadHouse.HavePets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadHouse.Pets" class="control-label"></label>
                <input asp-for="UploadHouse.Pets" class="form-control" />
                <span asp-validation-for="UploadHouse.Pets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadHouse.NumberOfPets" class="control-label"></label>
                <input asp-for="UploadHouse.NumberOfPets" class="form-control" />
                <span asp-validation-for="UploadHouse.NumberOfPets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadHouse.Description" class="control-label"></label>
                <input asp-for="UploadHouse.Description" class="form-control" />
                <span asp-validation-for="UploadHouse.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadHouse.Address" class="control-label"></label>
                <input asp-for="UploadHouse.Address" class="form-control" />
                <span asp-validation-for="UploadHouse.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
