﻿@page
@model WorkingHouseListingsModel
@{
}
<html lang="en">
@*<body data-gr-c-s-loaded="true">*@
<body style="background-color:#222222;">
    <main role="main">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .dropbtn {
                background-color: #7e7e7e;
                color: white;
                padding: 16px;
                font-size: 16px;
                border: none;
            }

            .dropdown {
                position: relative;
                display: inline-block;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }

                .dropdown-content a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }

                    .dropdown-content a:hover {
                        background-color: #ddd;
                    }

            .dropdown:hover .dropdown-content {
                display: block;
            }

            .dropdown:hover .dropbtn {
                background-color: #808080;
            }
        </style>

        <!--Filtering Options-->
        <div class="dropdown" style="float:right;">
            <button onclick="myFunction()" class="dropbtn">Filters</button>
            <div id="myDropdown" class="dropdown-content">
                <input type="text" placeholder="Search for Houses.." id="myInput" onkeyup="filterFunction()">
                <table style="width:100%">
                    <tr>
                        <td><a href="">Pets</a> </td>
                        <td><a href="">No Pets</a> </td>
                        <td><a href="">Plants</a> </td>
                        <td><a href="">No Plants</a> </td>
                    </tr>
                    <tr>
                        <td><a href="">Suburban</a> </td>
                        <td><a href="">Rural</a> </td>
                        <td><a href="">Urban</a> </td>
                    </tr>
                    <tr>
                        <td><a href="">Car</a> </td>
                        <td><a href="">Bus</a> </td>
                        <td><a href="">Train</a> </td>
                        <td><a href="">Subway</a> </td>
                        <td><a href="">Walking</a> </td>
                        <td><a href="">Bicylce</a> </td>
                    </tr>
                    <tr>
                        <td><a href="">Houses in Need of Sitter</a> </td>
                    </tr>
                </table>
            </div>
        </div>

        <!--HouseListing Code-->
        <section class="text-center">
            <h1 style="font-size:55px;"><b><font color="#84b83d">House Listings</font></b></h1>
        </section>

        <!--Displays Each House Dynamically.-->
        @foreach (var item in Model.UploadHouse)
        {
            <div class="col-md-15">
                <div class="card mb-4 shadow-sm">
                    <img src="~/images/house1.jpg" width="100%" height="225" />
                    <div class="card-body">
                        <p class="card-text"><font color="white">@Html.DisplayFor(modelItem => item.Description)</font></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-page="/HouseDetails" asp-route-id="@item.ID">View House</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </main>
</body>
</html>
