﻿@page
@model house_sit_me_website.Pages.HouseCRUD.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>HouseSearch</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HouseSearch.HouseType" class="control-label"></label>
                <input asp-for="HouseSearch.HouseType" class="form-control" />
                <span asp-validation-for="HouseSearch.HouseType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseSearch.AreaType" class="control-label"></label>
                <input asp-for="HouseSearch.AreaType" class="form-control" />
                <span asp-validation-for="HouseSearch.AreaType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseSearch.Country" class="control-label"></label>
                <input asp-for="HouseSearch.Country" class="form-control" />
                <span asp-validation-for="HouseSearch.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseSearch.City" class="control-label"></label>
                <input asp-for="HouseSearch.City" class="form-control" />
                <span asp-validation-for="HouseSearch.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseSearch.State" class="control-label"></label>
                <input asp-for="HouseSearch.State" class="form-control" />
                <span asp-validation-for="HouseSearch.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseSearch.Zip" class="control-label"></label>
                <input asp-for="HouseSearch.Zip" class="form-control" />
                <span asp-validation-for="HouseSearch.Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseSearch.Dates" class="control-label"></label>
                <input asp-for="HouseSearch.Dates" class="form-control" />
                <span asp-validation-for="HouseSearch.Dates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseSearch.Radius" class="control-label"></label>
                <input asp-for="HouseSearch.Radius" class="form-control" />
                <span asp-validation-for="HouseSearch.Radius" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseSearch.Transportation" class="control-label"></label>
                <input asp-for="HouseSearch.Transportation" class="form-control" />
                <span asp-validation-for="HouseSearch.Transportation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseSearch.PaymentType" class="control-label"></label>
                <input asp-for="HouseSearch.PaymentType" class="form-control" />
                <span asp-validation-for="HouseSearch.PaymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseSearch.HavePlants" class="control-label"></label>
                <input asp-for="HouseSearch.HavePlants" class="form-control" />
                <span asp-validation-for="HouseSearch.HavePlants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseSearch.Plants" class="control-label"></label>
                <input asp-for="HouseSearch.Plants" class="form-control" />
                <span asp-validation-for="HouseSearch.Plants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseSearch.NumberOfPlants" class="control-label"></label>
                <input asp-for="HouseSearch.NumberOfPlants" class="form-control" />
                <span asp-validation-for="HouseSearch.NumberOfPlants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseSearch.HavePets" class="control-label"></label>
                <input asp-for="HouseSearch.HavePets" class="form-control" />
                <span asp-validation-for="HouseSearch.HavePets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseSearch.Pets" class="control-label"></label>
                <input asp-for="HouseSearch.Pets" class="form-control" />
                <span asp-validation-for="HouseSearch.Pets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HouseSearch.NumberOfPets" class="control-label"></label>
                <input asp-for="HouseSearch.NumberOfPets" class="form-control" />
                <span asp-validation-for="HouseSearch.NumberOfPets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
