﻿@page
@model house_sit_me_website.Pages.HouseCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>HouseSearch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HouseSearch.HouseType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HouseSearch.HouseType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HouseSearch.AreaType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HouseSearch.AreaType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HouseSearch.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HouseSearch.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HouseSearch.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HouseSearch.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HouseSearch.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HouseSearch.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HouseSearch.Zip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HouseSearch.Zip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HouseSearch.Dates)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HouseSearch.Dates)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HouseSearch.Radius)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HouseSearch.Radius)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HouseSearch.Transportation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HouseSearch.Transportation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HouseSearch.PaymentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HouseSearch.PaymentType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HouseSearch.HavePlants)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HouseSearch.HavePlants)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HouseSearch.Plants)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HouseSearch.Plants)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HouseSearch.NumberOfPlants)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HouseSearch.NumberOfPlants)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HouseSearch.HavePets)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HouseSearch.HavePets)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HouseSearch.Pets)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HouseSearch.Pets)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HouseSearch.NumberOfPets)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HouseSearch.NumberOfPets)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.HouseSearch.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
