﻿@page
@model house_sit_me_website.Pages.HouseCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HouseSearch[0].HouseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseSearch[0].AreaType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseSearch[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseSearch[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseSearch[0].State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseSearch[0].Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseSearch[0].Dates)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseSearch[0].Radius)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseSearch[0].Transportation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseSearch[0].PaymentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseSearch[0].HavePlants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseSearch[0].Plants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseSearch[0].NumberOfPlants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseSearch[0].HavePets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseSearch[0].Pets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseSearch[0].NumberOfPets)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.HouseSearch) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HouseType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Radius)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transportation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HavePlants)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plants)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfPlants)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HavePets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfPets)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
