﻿@page
@model RegisterOptionModel
@{
}

<body style="background-color:#222222;">
    <div class="text-center">
        <h1><b><font color="84b83d">@ViewData["Title"]</font></b></h1>
    </div>

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
        <div class="text-center">
            <h3><a asp-page="/SitterCRUD/Create">Create Sitter Account</a></h3><br>
        </div>
    </div>
    <div class="col-md-3">
        <div class="text-center">
            <h3><a asp-page="/OwnerCRUD/Create">Create Owner Account</a></h3><br>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>
</body>
