﻿@page
@model RegisterOwnerModel
@{
    ViewData["Title"] = "Owner Account";
}

<body style="background-color:#222222;">
    <h2><font color="#84b83d">@ViewData["Title"]</font></h2>
    <div class="row">
        <div class="col-md-4">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <font color="white"><h4>Create an Account</h4></font>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <font color="#84b83d"><b>First Name</b></font>
                    <input asp-for="Input.FirstName" class="form-control" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <font color="#84b83d"><b>Last Name</b></font>
                    <input asp-for="Input.LastName" class="form-control" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <font color="#84b83d"><b>Email</b></font>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <font color="#84b83d"><b>Password</b></font>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <font color="#84b83d"><b>Confirm Password</b></font>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <font color="#84b83d"><b>Date of Birth</b></font>
                    <label for="Input.DoB">
                        <input type="date" name="StartDate" min="2020-01-01" max="3000-01-01">
                    </label>
                </div>
                <div class="form-group">
                    <font color="#84b83d"><b>Phone Number</b></font>
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default">Apply</button>
            </form>
        </div>
    </div>
</body>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }